<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Rebots
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor='let jugador of jugadors | async'>
      <ion-item *ngIf="jugador.aPista">
        <ion-label>{{ jugador.dorsal }}</ion-label>
        <ion-checkbox (ionChange)="jugadorForaPista(jugador)" [checked]="jugador.aPista"></ion-checkbox>
        <ion-buttons item-end>
          <button ion-button clear icon-only (click)="removeRebot( jugador )">
            <ion-icon name="remove-circle"></ion-icon>
          </button>
          {{ jugador.rebots }}
          <button ion-button clear icon-only (click)="addRebot( jugador )">
            <ion-icon name="add-circle"></ion-icon>
          </button>
        </ion-buttons>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <ion-fab #fab right bottom>
      <button ion-fab color="light"><ion-icon name="swap"></ion-icon></button>
      <ion-fab-list side="left">
        <button ion-fab *ngFor="let jugador of jugadors | async" [hidden]="jugador.aPista" (click)="jugadorAPista(jugador)">{{ jugador.dorsal }}</button>
      </ion-fab-list>
  </ion-fab>
</ion-content>
